/* grid system -- mobile first! */

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    --columns: 16;
}

section {
    --width: 16;
    --initialbasis: calc(var(--width, 0) / var(--columns, 16) * 100%);
    --gap: calc((var(--columns, 16) - var(--width, 0)) * 1%);
    flex-basis: calc(var(--initialbasis) - var(--gap));
  }



@media (min-width: 740px) {
    .floatleft {
        float: left;
        margin: 0 1rem 1rem 0;
    }
    .floatright {
        float: right;
        margin: 0 0 1rem 1rem;
    }
}
@media (min-width: 950px){

}
@media (min-width: 1200px) {
    /* #first - 5, #main - 6, #devs - 2, #resources - 3*/

    #first{
        --width: 5;
    }
    #main {
        --width: 6;
    }
    #devs {
        --width: 2;
    }
    #resources{
        --width: 3;
    }
}
